@use "./variables" as *;
<<<<<<< HEAD
/// COLORS.SCSS ///

// PRIMARY COLORS //

$global-blue: #61bace;

$global-black: #2c2c2c;

$global-white: #f9f7f7; ;
=======

$background-dark: #2C2C2C;

$text-main-color: #FFFFFF;

$line: #61BBCE;
>>>>>>> c39383e2a7f3b58c271cd1af28f5c629e54862a9
