<<<<<<< HEAD
* {
  text-decoration: none;
=======
@use "./typography";

* {
  text-decoration: none;
  font-family: "ProductSans";
>>>>>>> c39383e2a7f3b58c271cd1af28f5c629e54862a9
}
body {
  margin: 0;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  margin: 0;
}
